﻿@model SafeCars.Models.UsersModels
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-md-center">
    <div class="col-md-4 mt-4">
        <h2>Logowanie</h2>
        <div class="card">
            <div class="card-header ">
                Zaloguj się
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "UsersModels", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.email)
                        @Html.TextBoxFor(m => m.email, "", new { @class = "form-control", @placeholder = "Email" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.password)
                        @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Hasło" })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Zatwierdź" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>