﻿
@{
    ViewBag.Title = "PasswordChanged";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Status zmian</h2>
<div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-5">
        <div class="card mt-3">
            <div class="card-header ">
                Edycja
            </div>
            <div class="card-body m-2">
                Twoje hasło zostało zmienione!
                <img src="~/checksuccess.png" alt="checksuccess" width="60" height="60" />
            </div>
            <a href='@Url.Action("UserPage", "UsersModels")' class="btn btn-outline-danger btn-lg m-auto my-md-2" role="button">Mój profli</a>
        </div>
    </div>
</div>