﻿@model SafeCars.Models.UsersModels

@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Witaj @Model.first_name!</h2>

<head>

</head>
<body>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="m-2" style="background: #f6f5f4; border-radius: 15px; text-align: center;">
                <h3>Twoje dane:</h3>
                <p>Imię: @Model.first_name </p>
                <p> Email: @Model.email</p>
                <p>Numer telefonu: @Model.phone </p>
                <p> Miasto: @Model.city</p>
                <a href='@Url.Action("EditUserData", "UsersModels")' class="btn btn-outline-danger btn-lg m-2" role="button">Edytuj dane</a>
                <a href='@Url.Action("EditPassword", "UsersModels")' class="btn btn-outline-danger btn-lg m-2" role="button">Zmień hasło</a>
            </div>
        </div>
        <div class="col-md-6">

            <div class="m-2" style="background: #f6f5f4; border-radius: 15px; text-align: center;">
                <h3>Twoje konto:</h3>
                <h4>Stan konta: 0.00zł</h4>
                <p>Liczba Twoich ogłoszeń: @ViewBag.numberAdvAll</p>
                @{
                    if (ViewBag.tooMuchAdv == "true")
                    {
                        <p style="color:red;">Liczba ogłoszeń aktywnych: @ViewBag.numberAdvActive / 3 </p>
                    }
                    else
                    {
                        <p>Liczba ogłoszeń aktywnych: @ViewBag.numberAdvActive / 3 </p>
                    }

                }
                <a href='@Url.Action("WatchedAdv", "Advertisement")' class="btn btn-outline-success btn-lg m-2" role="button">Lista obserowanych</a>
                <a href='@Url.Action("PayMoney", "UsersModels")' class="btn btn-outline-success btn-lg m-2" role="button">Doładuj konto</a>
                <a href='@Url.Action("ListLikeAdv", "UsersModels")' class="btn btn-outline-success btn-lg m-2" role="button">Moje ogłoszenia</a>
            </div>
        </div>
        <hr />
        @if (Model.ban_message != "empty")
        {
            <div class="col-md-12 m-1 text-center border border-danger">
                <h5>Jedno z Twoich ogłszeń zostało zgłoszone przez użytkowników naszej strony! Zostało ono automatycznie dezaktywowane!</h5>
                <h5>@Model.ban_message</h5>
            </div>
        }

    </div>

</body>