﻿@model IEnumerable<SafeCars.Models.CarsModelsModels>

@{
    ViewBag.Title = "ChoseModel";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<head>

    <script>
        function myFunction(el) {
            console.log(el);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("ChoseModel", "CarModel")",
                data: "{ \"nameVersion\" : \"" + el+ "\" }",
                dataType: 'text json',
                success: function (data) {
                    console.log("no a jak");
                    //    location.href='@Url.Action("ChoseModelVersion", "CarModel", null)';
                    url_redirect("ChoseModelVersion");

                }, error: function (error) {
                    console.log("cos jest nie tak ")
                    console.log(error);
                }
            })
            
            return false;
        };
        function url_redirect(url) {
            var X = setTimeout(function () {
                window.location.replace(url);
                return true;
            }, 300);

            if (window.location = url) {
                clearTimeout(X);
                return true;
            } else {
                if (window.location.href = url) {
                    clearTimeout(X);
                    return true;
                } else {
                    clearTimeout(X);
                    window.location.replace(url);
                    return true;
                }
            }
            return false;
        };
    </script>
</head>

<div class="form-horizontal mt-3">
    <h3>Wybierz wersje</h3>
    <h5>Czesto modele nie własnej wersji, jeśli nie widzisz pasującej do swojego samochoód wybierz "Inny"</h5>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group row">

        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-1 m-md-2 my-sm-1">
                <button type="button" onclick="myFunction('@item.version')" class="btn btn-outline-secondary" name="@item.version">@item.version</button>
            </div>
        }
        <div class="col-sm-6 col-md-4 col-lg-1 m-md-2 my-sm-1">
            <button type="button" onclick="myFunction('Inny')" class="btn btn-outline-secondary" name="Inny">Inny</button>
        </div>
    </div>
</div>
