﻿@model IEnumerable<SafeCars.Models.CarsModelsModels>

@{
    ViewBag.Title = "ChoseModelOnly";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="form-group row">
    <h4>Wybierz model</h4>
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-1 m-md-3 my-sm-1">
            @{
                if (@item.model == "Other")
                {
                    <button onclick="location.href='@Url.Action("SaveCar", "CarModel", item)'" ; class="btn btn-outline-dark">Inny</button>
                }
                else
                {
                    <button onclick="location.href='@Url.Action("SaveCar", "CarModel", item)'" ; class="btn btn-outline-dark">@item.model</button>
                }
            }

        </div>
    }
</div>
<hr />
