﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #navbar {
            top: 0;
            transition: top 0.8s; /* Transition effect when sliding down (and up) */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md" id="navbar" style="background-color: #F2E7D3;">
        <a class="navbar-brand mr-auto" href='@Url.Action("Index", "Home")'>
            <img src="~/biglogo.jpg" alt="" class="d-inline-block  ml-sm-2 img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="mainmenu">
            <form class="form-inline ml-auto">
                <a href='@Url.Action("UserPage", "UsersModels")' class="btn btn-outline-danger btn-lg mr-2" role="button">Mój SC</a>
                <a href='@Url.Action("ChoseMake", "CarModel")' class="btn btn-outline-danger btn-lg mr-2" role="button">Dodaj ogłszenie +</a>
                <a href='@Url.Action("Logout", "UsersModels")' class="btn btn-outline-danger btn-lg mr-2" role="button">Wyloguj się</a>
            </form>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SafeCars</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.top = "0";
            } else {
                document.getElementById("navbar").style.top = "-100px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
    <script type="text/javascript">
        var RootUrl = '@Url.Content("~/")';
    </script>

</body>
</html>
