﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3Admin.cshtml";
}
<h2>Witaj Administratorze! </h2>

@if (ViewBag.mess != null)
{
    <div class="row justify-content-md-center">
        <div class="col-sm-12 col-md-5">
            <div class="card mt-3">
                <div class="card-header ">
                    Komunikat
                </div>
                <div class="card-body m-2">
                    @ViewBag.mess
                    <img src="~/checksuccess.png" alt="checksuccess" width="60" height="60" />
                </div>
               
            </div>
        </div>
    </div>
}

