﻿@model IEnumerable<SafeCars.Models.ComplaintsModels>
@{
   
    Layout = "~/Views/Shared/_Layout3Admin.cshtml";
}
<table class="table">
    <tr>
        <th style="min-width:700px">
            Opis skargi
        </th>
        <th>
            Ogłoszenie
        </th>
        <th>
            Opcje
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="min-width:700px">
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <button onclick="location.href='@Url.Action("AdvertisementView", "Advertisement", new {id=item.id_advertisement })'" ; class="btn btn-outline-primary m-3 ">ID=@item.id_advertisement</button>
            </td>
            <td>
                <button onclick="location.href='@Url.Action("BanUser", "Admin", new {id=item.id_advertisement })'" ; class="btn btn-outline-danger m-3 mt-3 mb-1">Zablokuj użytkownika</button>
                <button onclick="location.href='@Url.Action("DeleteComp", "Admin", new {id=item.id_advertisement })'" ; class="btn btn-outline-success m-3 my-1">Anuluj zgłszenia</button>
                <button onclick="location.href='@Url.Action("SendBanMessage", "Admin", new {id=item.id_advertisement })'" ; class="btn btn btn-outline-secondary m-3 my-1">Wyśli upomnienie</button>
            </td>
        </tr>
    }
</table>
