﻿@model SafeCars.Models.ComplaintsModels
@{
    
    Layout = "~/Views/Shared/_Layout3Admin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id_advertisement")
    <div class="form-horizontal">
        <h4>Podaj wiadomość</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            Treść
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description, 5, 100, htmlAttributes: new { style = "width: 100%; max-width: 100%;" })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Wyśli" class="btn btn-outline-danger" />
            </div>
        </div>
    </div>
}

