﻿
@{
    ViewBag.Title = "AdAdded";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Status ogłszoenia</h2>
<div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-5">
        <div class="card">
            <div class="card-header ">
                Ogłoszenie
            </div>
            <div class="card-body m-1">
                Twoje ogszłoszenie zostało dodane!
                <img src="~/checksuccess.png" alt="checksuccess" width="60" height="60" />
            </div>
        </div>
    </div>
</div>