﻿@model SafeCars.Models.ImagesModels

@{
    ViewBag.Title = "AddImage";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    function readURL(input) {
        document.getElementById('blah').style.display = 'inline';
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }
    $(function (ready) {
        $('#file-input').change(function () {
            console.log("ee");
            readURL(this);
        });
    });

    window.onload = function () {
        console.log("1");
    }


    function updateValue(e) {
        console.log("2");

        var formdata = new FormData($('form').get(0));
        // console.log(formdata);
        CallService(formdata);
    }

    function CallService(data) {
        console.log("siema");

        $.ajax({

            url: '../Advertisement/UploadImageFile', type: "POST", processData: false,
            data: data, dataType: 'json',
            contentType: false,
            success: function (response) {
                if (response != null || response != '')
                    alert(response);
                $("#file").val('');
            },
            error: function (er) { }
        });
        return false;
    }

</script>
@using (Html.BeginForm("AddImage", "Advertisement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dodaj zdjęcia samochodu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <figure>
                <div class="text-center">
                    <img src="~/arrow.png" style="transform:rotate(70deg);" />
                    <label for="file-input">
                        <img src="~/biglogowithfotoaparat.jpg" class="rounded mx-auto d-block" width="130" height="100" />
                    </label>
                    <img src="~/arrow.png" style="transform:rotate(290deg);" />
                </div>
            </figure>
        </div>
        <div class="col-sm-12 col-md-12 text-center">
            <figure>
                <form runat="server">
                    <input id="file-input" name="myfile" type="file" style="display: none;" />
                    <img id="blah" src="~/arrow.png" alt="your image" width="300" height="200" style="display: none;" />
                </form>
            </figure>
        </div>

        @if (ViewBag.listAllFoto != null && ((IEnumerable<dynamic>)ViewBag.listAllFoto).Count() > 0)
        {
            <div class="col-sm-12 col-md-12">
                <hr />
            </div>
            <div class="col-sm-12 col-md-12 ">
                <h4>Twoje zdjęcia</h4>
            </div>

            foreach (var item in ViewBag.listAllFoto)
            {
                <div class="col-sm-6 col-md-3">
                    <figure>
                        <img src="@item" alt="your image" width="200" height="150" style="" />
                    </figure>
                </div>
            }
        }
        <div class="col-sm-12 col-md-12">
            <hr />
        </div>
        @if (ViewBag.listAllFoto == null || (((IEnumerable<dynamic>)ViewBag.listAllFoto).Count()<20) )
        {
            <div class="col-sm-6 col-md-6">
                <input class="btn btn-danger" type="submit" value="Dodaj" />
            </div>
        }

        @if (ViewBag.listAllFoto != null && ((IEnumerable<dynamic>)ViewBag.listAllFoto).Count() >= 3)
        {
            <div class="col-sm-6 col-md-6">
                @Html.ActionLink("Zapisz", "AdAdded", "Advertisement", new { @class = "btn btn-outline-success float-right" })
            </div>
        }
    </div>

    </div>

}

