﻿@model SafeCars.Models.AdvCarImg
@{
    ViewBag.Title = "AdvertisementView";
    if (User.Identity.IsAuthenticated && ViewBag.UserIs!="-1")
    {
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }

    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {
            display: none;
        }

        .skillscontainerr {
            background-color: #ddd;
        }

        .skills {
            text-align: right;
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
        }

        .skillsjs {
            width: 65%;
            background-color: #f44336;
        }
    </style>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12 mt-2">
                    <div class="w3-content w3-display-container">
                        @foreach (var item in @Model.imgList)
                        {
                            <img class="mySlides" src=@item style="width:100%">
                        }
                        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                    </div>
                    @*<img id="img" class="m-3" src=@Model.imgList.ElementAt(0) alt="image car" width="400" height="300" style="" />*@
                </div>
                <div class="col-md-10">
                    <div class="m-md-2">
                        @*<button id="buttonDown" onclick="FunDown(@allFoto)" type="button" class="btn btn-outline-danger"><</button>
                            <button id="buttonTop" onclick="FunTop()" type="button" class="btn btn-outline-danger">></button>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="container-fluid">
                <div class="row m-2">
                    <div class="col-md-9">
                        <h3>@Model.advModel.title</h3>
                    </div>
                    <div class="col-md-3 float-right">
                        <input id="file-input" name="myfile" type="submit" onclick="myFunctionLike()" style="display: none;" />
                        <label for="file-input" class="float-right">
                            <img src="https://cdn1.iconfinder.com/data/icons/advertising-02-line/128/like-button_conforming_good-job_ok_approval_excellence_thumb_gesture_confirmation_feedback_approve-23-512.png" class="rounded mx-auto d-block" width="30" height="30" />
                        </label>
                        @if (User.Identity.IsAuthenticated)
                        {
                            using (Html.BeginForm("SendComplaints", "Complaints", new { id = Model.advModel.id_advertisement }, FormMethod.Get))
                            {
                                <input id="file-input2" type="submit" style="display: none;" />
                                <label for="file-input2" class="float-right">
                                    <img src="https://pl.fotoomnia.com/zdjecia/thu/eadad46c25cc4328da90b920c2912366.jpg" width="30px" height="30px" class="rounded mx-auto d-block" />
                                </label>
                            }
                        }

                    </div>
                </div>
            </div>


            <div class="col-md-12 mx-auto mt-2 border border-danger justify-content-center" style="border-radius: 15px 50px; background: #F2E7D3; padding: 20px; width: 200px; height: 80px; text-align: center; ">
                <h4> @Model.advModel.price zł</h4>
            </div>

            <div class="col-md-12 m-4" style=" background: #efeae8; border-radius: 15px;">
                <div class="col-md-12 m-1">
                    @if (@Model.carModel.carModels.model == "Other")
                    {
                        <h4>@Model.carModel.carModels.carMakes.name_make </h4>
                    }
                    else
                    {
                        <h4>@Model.carModel.carModels.carMakes.name_make @Model.carModel.carModels.model</h4>
                    }

                </div>
                <div class="col-md-12 m-1">
                    Rok produkcji: @Model.carModel.year
                </div>
                <div class="col-md-12 m-1">
                    Przebieg: @Model.carModel.mileage km
                </div>
                <div class="col-md-12 m-1">
                    Moc: @Model.carModel.power
                </div>
                <div class="col-md-12 m-1">
                    Pojemność: @Model.carModel.capacity
                </div>
                <div class="col-md-12 m-1">
                    Skrzynia biegów: @Model.carModel.transmission
                </div>
                <div class="col-md-12 m-1">
                    Kolor: @Model.carModel.color
                </div>
                <div class="col-md-12 m-1">
                    Rodzaj paliwa: @Model.carModel.fuel
                </div>
                @{
                    if (Model.carModel.damaged == true)
                    {
                        <div class="col-md-12 m-1">
                            Uszkodzony: TAK
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12 m-1">
                            Uszkodzony: NIE
                        </div>
                    }
                }
                @{
                    if (Model.carModel.used == true)
                    {
                        <div class="col-md-12 m-1">
                            Stan: Używany
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12 m-1">
                            Stan: Nowy
                        </div>
                    }
                }


            </div>
        </div>
        <div class="col-md-12 mt-2">
            <h4>Jak długo właściciel posiada samochód? </h4>
            <div class="skillscontainerr">
                @{
                    if ((DateTime.Now - Model.advModel.time_of_possession).Days < 50)
                    {
                        <div class="skills skillsjs" style=" width: 20%;"> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.advModel.time_of_possession))</div>
                    }
                    else if ((DateTime.Now - Model.advModel.time_of_possession).Days < 200)
                    {
                        <div class="skills skillsjs" style=" width: 30%;"> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.advModel.time_of_possession))</div>
                    }
                    else if ((DateTime.Now - Model.advModel.time_of_possession).Days < 420)
                    {
                        <div class="skills skillsjs" style=" width: 40%;"> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.advModel.time_of_possession))</div>
                    }
                    else if ((DateTime.Now - Model.advModel.time_of_possession).Days < 700)
                    {
                        <div class="skills skillsjs" style=" width: 50%;"> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.advModel.time_of_possession))</div>
                    }
                    else if ((DateTime.Now - Model.advModel.time_of_possession).Days < 1300)
                    {
                        <div class="skills skillsjs" style=" width: 60%;"> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.advModel.time_of_possession))</div>
                    }
                    else if ((DateTime.Now - Model.advModel.time_of_possession).Days < 2400)
                    {
                        <div class="skills skillsjs" style=" width: 70%;"> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.advModel.time_of_possession))</div>
                    }
                    else if ((DateTime.Now - Model.advModel.time_of_possession).Days < 3500)
                    {
                        <div class="skills skillsjs" style=" width: 80%;"> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.advModel.time_of_possession))</div>
                    }
                    else if ((DateTime.Now - Model.advModel.time_of_possession).Days < 4600)
                    {
                        <div class="skills skillsjs" style=" width: 90%;"> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.advModel.time_of_possession))</div>
                    }
                    else if ((DateTime.Now - Model.advModel.time_of_possession).Days < 6000)
                    {
                        <div class="skills skillsjs" style=" width: 95%;"> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.advModel.time_of_possession))</div>
                    }
                    else
                    {
                        <div class="skills skillsjs" style=" width: 100%;"> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.advModel.time_of_possession))</div>
                    }
                }

            </div>
        </div>
        <div class="col-md-12 my-3" style=" border-radius: 15px;">
            <h4>Opis: </h4>
            @Model.advModel.description
        </div>
        <div class="col-md-4 m-1" style=" background: #fff1f2;  border-radius: 15px; text-align: center;">
            <h4>Dane sprzedającego:</h4>
            <div class="m-3">
                <div class="m-2">
                    <h5>
                        @Model.advModel.usersModels.first_name
                    </h5>
                </div>
                <div class="m-2">
                    <p style="font-style: italic;">
                        Numer kontaktowy: @Model.advModel.usersModels.phone
                    </p>
                </div>
                <div class="m-2">
                    <p>
                        @Model.advModel.usersModels.city
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 m-auto" style=" background: #fff1f2;  border-radius: 15px; text-align: center;">
            <h4>Lokalizacja:</h4>
            <div class="m-2">
                <div class="m-2">
                    <p style="font-style: italic;">
                        @Model.advModel.location
                    </p>
                </div>
                <div class="m-2">
                    <p>
                        @Model.advModel.location_city
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-1" style=" background: #fff1f2;  border-radius: 15px; text-align: center;">
            <h4>Dodatkowe inforamcje:</h4>
            <p><small>Zalogowani użytownicy mają możliwość sprawdzenia </small></p>
            <button type="button" id="myButton" class="btn btn-danger" onclick="myFunctionVin()">Sprawdź</button>
            <div id="vin"></div>
        </div>



    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
        function myFunctionVin() {
            console.log("ee")
            @if (User.Identity.IsAuthenticated) {
                @: console.log("eett")
                @: document.getElementById('vin').innerHTML = ' <div class="m-2"><p>VIN: @Model.carModel.vin </p></div>    <div class="m-2"><p>Tablica rejestracyja: @Model.carModel.license_plate </p> </div> <div class="m-2"> <p>Data pierwszej rej:  @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.carModel.first_registration))</p> </div>';
                @: myFunctionVinCount();
                @: const button = document.getElementById('myButton');
                @:button.disabled = true;
            }
            else
            {
                 @: console.log("eetgg")
               @: document.getElementById('vin').innerHTML = '<div class="m-2"><p style="font-weight: bold;" >Zaloguj się!</p></div>';

            }
        }
        function myFunctionVinCount() {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("countVin", "Advertisement")",
                data: "{ \"adv\" : \"" + @Model.advModel.id_advertisement+"\" }",
                dataType: 'text json',
                success: function (data) {
                    console.log(data.msg);

                }, error: function (error) {
                    console.log("cos jest nie tak ")
                    console.log(error);
                }
            })
        }
        function myFunctionLike() {
            console.log("elo");
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("likeButton", "Advertisement")",
                data: "{ \"adv\" : \"" + @Model.advModel.id_advertisement+"\" }",
                dataType: 'text json',
                success: function (data) {
                    console.log(data.msg);
                    if (data.msg == "notIdUser") {
                        alert("Zaloguj się, aby dodać do obserwowanych!");

                    } else if (data.msg == "add") {
                        alert("Dodano!");
                    }
                    else {
                        alert("Usunięto");
                    }


                }, error: function (error) {
                    console.log("cos jest nie tak ")
                    console.log(error);
                }
            })

            return false;
        }
        function fnSuccesss(data) {
            if (data == "notIdUser") {
                 alert("Zaloguj się!")
            }
            alert("@ViewBag.messlikebutton!")

        }
        function fnFail(err) {
            alert("Błąd!")
        }
    </script>
</body>

</html>