﻿@model SafeCars.Models.AdvertisementModels

@{
    ViewBag.Title = "ChangePrice";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Podaj nową cenę</h3>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_advertisement)
        
        <div class="row">
            <div class="col-md-12 form-inline justify-content-center">
                <div class="m-2">
                    <h1>@Model.price zł</h1>
                </div>

                <div class="m-2">
                    <img src="~/arrow.png" style="transform:rotate(90deg);" />
                </div>
                <div class="m-2">
                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                </div>             
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              
                <input type="submit" value="Zapisz" class="btn btn-outline-success" />
            </div>
        </div>
    </div>
}

