﻿@model SafeCars.Models.AdvertisementModels

@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h2>Wybierz opcję</h2>


<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12 form-inline justify-content-center">
            @Html.ActionLink("Edytuj parametry", "EditParameter", "Advertisement", new  {   id = Model.id_advertisement }, new { @class = "btn btn-outline-success mx-2" })
            @Html.ActionLink("Edytuj zdjęcia ", "EditImg", "Advertisement", new { id = Model.id_advertisement }, new { @class = "btn btn-outline-danger mx-2" })
        </div>
    </div>
</div>


